.event_info {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  font-family: inherit;
}
.event_info h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.event_info img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.event_info ul {
  margin: auto;
  list-style-type: circle;
  padding: 0;
  margin: 0;
}

.event_info ul li {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

.event_rules h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.event_rules ul {
  list-style-type: circle;
  padding: 0;
  margin: 0;
}

.event_rules ul li {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

.rounds h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.rounds ul {
  list-style-type: circle;
  padding: 0;
  margin: 0;
}

.rounds ul li {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

:root {
  /* --clr-neon: hsl(317 100% 54%);
   */
  --clr-neon: rgb(63, 181, 227);
}

.neon-button {
  font-size: 1.6rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.125em 0.5em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  font-weight: 600;
  margin-bottom: 20px;
}

/* .neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
} */

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: #00294a;
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .event_info {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .event_info img {
    height: 300px;
  }
  .event_info h1 {
    font-size: 3rem;
  }
  .event_info ul li {
    font-size: 1.2rem;
  }
  .event_rules h4 {
    font-size: 1.5rem;
  }
  .event_rules ul li {
    font-size: 1.2rem;
  }
  .rounds h2 {
    font-size: 1.5rem;
  }
  .rounds ul li {
    font-size: 1.2rem;
  }
  .neon-button {
    font-size: 1.2rem;
  }
}
